<dl class="row">
  <div class="row">
    <div class="col-md-12">
      <label for="customRange1" class="form-label">高音增益</label>
      <input type="range" class="form-range" id="HighGainRange"  />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label for="customRange1" class="form-label">中音增益</label>
      <input type="range" class="form-range" id="MidGainRange" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label for="customRange1" class="form-label">低音增益</label>
      <input type="range" class="form-range" id="LowGainRange" />
    </div>
  </div>
</dl>

<!-- 失真 -->
<div class="row">
  <div class="col-md-12">
    <label for="customRange1" class="form-label">失真Q直</label>
    <input type="range" class="form-range" id="customRange1" />
  </div>
</div>
</dl>

<!-- 失真壓縮 -->
<div class="row">
  <div class="col-md-12">
    <label for="customRange1" class="form-label">壓縮</label>
    <input type="range" class="form-range" id="customRange1" />
  </div>
</div>



<!--空間音訊-->

<br />
<h4>空間音訊</h4>
<div class="text-secondary-emphasis">
  <hr />
</div>
<div class="list-group">
  <!-- guitar -->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">吉他靠前</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div>
    </div>
  </a>

  <!-- vocals -->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">人聲靠前</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div>
    </div>
  </a>

  <!-- drums -->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">鼓聲靠前</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div>
    </div>
  </a>

  <!-- bass -->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">bass靠前</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div>
    </div>
  </a>
</div>
