{% load static %}

<!--音頻增強-->
<h4>音頻增強</h4>
<div class="text-secondary-emphasis">
  <hr />
</div>
<div class="list-group">
  <!-- 高音增強-->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">高音增強</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="HighGain"
          />
        </div>
      </div>
    </div> </a
  >~

  <!-- 中音增強 -->~

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">中音增強</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="MidGain"
          />
        </div>
      </div>
    </div>
  </a>

  <!-- 低音增強 -->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">低音增強</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="LowGain"
          />
        </div>
      </div>
    </div>
  </a>

  <!-- 重低音增強 -->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">重低音增強</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="HeavyLowGain"
          />
        </div>
      </div>
    </div>
  </a>
</div>

<!-- 風格 -->
<br />
<h4>風格</h4>
<div class="text-secondary-emphasis">
  <hr />
</div>
<div class="list-group">
  <!-- 流行 -->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">流行</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div>
    </div>
  </a>

  <!-- 搖滾 -->
  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">搖滾</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div></div
  ></a>

  <!-- 爵士 -->

  <a href="#" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-md-8">爵士</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div></div
  ></a>

  <!-- 電子 -->

  <a class="list-group-item list-group-item-action disabled">
    <div class="row">
      <div class="col-md-8">電子</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div></div
  ></a>

  <!-- hip-hop -->
  <a class="list-group-item list-group-item-action disabled">
    <div class="row">
      <div class="col-md-8">hip-hop</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div></div
  ></a>

  <!-- pop-->

  <a class="list-group-item list-group-item-action disabled">
    <div class="row">
      <div class="col-md-8">pop</div>
      <div class="col-md-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div></div
  ></a>
  <!-- 結束 -->
</div>
