<!-- Modal -->
<div
  class="modal fade"
  id="errorModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="errorModalLabel">Modal title</h1>
      </div>
      <div class="modal-body">Modal body</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          了解
        </button>
      </div>
    </div>
  </div>
</div>
