{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/iRiver/iRiver/">
      <img
        src="{% static 'img/favicon.png' %}"
        alt="Logo"
        width="40px"
        class="d-inline-block align-text-top"
      />
      iRiver
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="切換導航"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- 發現 -->

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/music/discover/"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">
                <i class="fa-regular fa-compass"></i>
                <span class="text">發現</span></font
              ></font
            ></a
          >
        </li>

        <!-- 音樂庫 -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle disabled"
            href="/music/music_db/"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">
                <i class="fa fa-book"></i>
                <span class="text">音樂庫</span></font
              ></font
            ></a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/user/"
                ><font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit">
                    <span class="text">音樂</span></font
                  ></font
                ></a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit"></font></font
              ></a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#"
                ><font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit">介紹</font></font
                ><i class="fas-regular fa-user"></i
              ></a>
            </li>
          </ul>
        </li>

        <!-- 登錄 -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle login"
            href="/user/login/"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-regular fa-user"></i>
            <span class="text">登錄</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/data/">個人資料</a></li>
            <li><a class="dropdown-item" href="/iRiver/plan/">方案</a></li>
            <li><a class="dropdown-item" href="/iRiver/setting/">設定</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/user/logout/">登出</a></li>
          </ul>
        </li>
      </ul>

      <!-- 搜尋 -->

      <form action="/music/search/" class="d-flex">
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="查詢"
            name="query"
            id="query"
          />
          <button class="btn btn-outline-primary" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
