<!-- Modal -->
<div
  class="modal fade"
  id="playlistModal"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
          管理音樂庫
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- tool -->
        <div class="row">
          <div class="col-9">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">工具</h1>
          </div>
          <div class="col-3">
            <a href="javascript:void(0)" class="delete ms-2">
              <i class="bi bi-trash-fill"></i>
            </a>
            <a href="javascript:void(0)" class="edit ms-2">
              <i class="fa-solid fa-hammer"></i>
            </a>
            <a href="javascript:void(0)" class="add ms-2">
              <i class="bi bi-plus-lg"></i>
            </a>
          </div>
        </div>
        <!-- body -->
        <div class="playlist-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="playlist-save">
          確認
        </button>
      </div>
    </div>
  </div>
</div>
