.myCard {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard.flipped .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
  z-index: 2; /* 添加 z-index */
}

.frontSide,
.frontSide::before {
  background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.backSide {
  transform: rotateY(180deg);
  z-index: 1; /* 添加 z-index */
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
}

.card-color-1 .frontSide,
.card-color-1 .frontSide::before {
  background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
}

.card-color-1 .backSide,
.card-color-1 .backSide::before {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card-color-2 .frontSide,
.card-color-2 .frontSide::before {
  background: linear-gradient(
    43deg,
    rgb(201, 66, 66) 0%,
    rgb(238, 163, 32) 46%,
    rgb(35, 192, 211) 100%
  );
}

.card-color-2 .backSide,
.card-color-2 .backSide::before {
  background-image: linear-gradient(160deg, #5d5d5d 0%, #ff0084 100%);
}

.card-color-3 .frontSide,
.card-color-3 .frontSide::before {
  background: linear-gradient(
    43deg,
    rgb(252, 176, 69) 0%,
    rgb(224, 97, 142) 46%,
    rgb(118, 76, 162) 100%
  );
}

.card-color-3 .backSide,
.card-color-3 .backSide::before {
  background-image: linear-gradient(160deg, #89c7d6 0%, #6cd8b0 100%);
}
