.plan-chooser {
  background-color: rgba(255, 255, 255, 1);
  max-width: 320px;
  border-radius: 10px;
  padding: 20px;
  color: #000;
  box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
}
.plan-chooser {
  padding: 10px 0;
}

.header {
  text-align: center;
  margin-top: 0.75rem;
}

.plan-chooser .title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 1);
}

.plan-chooser .desc {
  margin-top: 0.4rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(75, 85, 99, 1);
}

.plan-option {
  margin-top: 1rem;
  margin-bottom: 15px;
}

.plan-option label {
  cursor: pointer;
  overflow: hidden;
  border: 2px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
  background-color: rgba(249, 250, 251, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.4rem;
  margin: 10px 0;
  transform: all 0.15s ease;
}

.plan-option label .plan-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.plan-cost {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.plan-name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(75, 85, 99, 1);
}

.reduction {
  display: inline-block;
  border-radius: 9999px;
  border: 1px solid rgba(22, 163, 74, 1);
  background-color: rgba(220, 252, 231, 1);
  padding: 0.2rem 0.4rem;
  font-size: 0.675rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgba(22, 163, 74, 1);
}

.plan-option input:checked + label {
  border-color: rgba(37, 99, 235, 1);
}

.choose-btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: rgba(37, 99, 235, 1);
  padding: 1rem 3rem;
  font-weight: 600;
  color: #fff;
  transform: all 0.15s ease;
}

.choose-btn:hover {
  opacity: 0.9;
}

.plan-option input {
  display: none;
}
