{% extends 'template.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="post" action="/user/profile2/" class="form">
          {% csrf_token %}
          <input type="hidden" name="id" id="id" value="{{ form.id }}">

          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required value="{{ form.username }}" class="form-control" />
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required value="{{ form.email }}" class="form-control" />
          </div>

          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" name="phone" id="phone" required value="{{ form.phone }}" class="form-control" />
          </div>

          <div class="form-group">
            <label for="country">Country:</label>
            <select name="country" id="country" class="form-control">
              <option value="NO">Select a country</option>
              <option value="US" {% if form.country.value == 'USA' %}selected{% endif %}>USA</option>
              <option value="CA" {% if form.country.value == 'Canada' %}selected{% endif %}>Canada</option>
              <option value="UK" {% if form.country.value == 'UK' %}selected{% endif %}>UK</option>
              <!-- Add more countries here -->
            </select>
          </div>

          <div class="form-group">
            <label for="birthday">Birthday:</label>
            <input type="date" name="birthday" id="birthday" required value="{{ form.birthday }}" class="form-control" />
          </div>

          <div class="form-group">
            <label for="gender">Gender:</label>
            <select name="gender" id="gender" required class="form-control">
              <option value="male" {% if form.gender.value == 'male' %}selected{% endif %}>Male</option>
              <option value="female" {% if form.gender.value == 'female' %}selected{% endif %}>Female</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
