.table {
    border-collapse: collapse;
    }

.table td,.table th {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}
#table-body tr:hover {
    background-color: rgb(199, 198, 198);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}