<div class="">
  <form class="row g-3 needs-validation was-validated" novalidate="">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">名</font></font
        ></label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        value="Mark"
        required=""
      />
      <div class="valid-feedback">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit"> 看起來不錯！ </font></font
        >
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">姓</font></font
        ></label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom02"
        value="Otto"
        required=""
      />
      <div class="valid-feedback">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit"> 看起來不錯！ </font></font
        >
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">用戶名</font></font
        ></label
      >
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">@</font></font
          ></span
        >
        <input
          type="text"
          class="form-control"
          id="validationCustomUsername"
          aria-describedby="inputGroupPrepend"
          required=""
        />
        <div class="invalid-feedback">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">
              請選擇一個用戶名。
            </font></font
          >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">城市</font></font
        ></label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        required=""
      />
      <div class="invalid-feedback">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">
            請提供有效的城市。
          </font></font
        >
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">狀態</font></font
        ></label
      >
      <select class="form-select" id="validationCustom04" required="">
        <option selected="" disabled="" value="">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">選擇</font></font
          >
        </option>
        <option>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">畫面</font></font
          >
        </option>
        <option>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">播放</font></font
          >
        </option>
        <option>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">使用問題</font></font
          >
        </option>
      </select>
      <div class="invalid-feedback">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">
            請選擇一個有效的狀態。
          </font></font
        >
      </div>
    </div>

    <!-- 意見內容 -->

    <div class="col-md-12">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Example textarea</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>

    <!-- 提交 -->

    <div class="col-12">
      <div class="text-success">
        <hr />
      </div>
    </div>

    <!-- 同意書 -->

    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck"
          required=""
        />
        <label class="form-check-label" for="invalidCheck"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"> 同意條款和條件 </font></font
          ></label
        >
        <div class="invalid-feedback">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">
              您必須在提交
              <a href="#">同意書</a>
            </font></font
          >
        </div>
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">提交表格</font></font
        >
      </button>
    </div>
  </form>
</div>
