{% load static %}
<h2>可以在任何裝置上使用</h2>
<div class="row">
  <div class="col-md-6">
    <!-- iphone -->
    <div class="text-center">
      <img src="../../static/img/iphone.png" alt="" />
      <p>iphone</p>
    </div>
  </div>
  <!-- ipad -->
  <div class="col-md-6">
    <div class="text-center">
      <img src="../../static/img/ipad.png" alt="" />
      <p>ipad</p>
    </div>
  </div>
  <!-- mac -->
  <div class="col-md-6">
    <div class="text-center">
      <img src="../../static/img/mac.png" alt="" />
      <p>mac</p>
    </div>
  </div>
  <!-- pc -->
  <div class="col-md-6">
    <div class="text-center">
      <img src="../../static/img/pc.png" alt="" />
      <p>pc</p>
    </div>
  </div>
</div>
