.card {
  max-width: 100%;
  border-radius: 1rem;
  background-color: rgba(31, 41, 55, 1);
  padding: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 320px;
  }
}
.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  display: block;
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  background-image: url("https://akstatic.streetvoice.com/venue_activity_image/2020/09/02/f7f9876eb1794357b828afb6bfca593b.jpg?x-oss-process=image/resize,m_fill,h_440,w_830,limit_0/interlace,1/quality,q_95/sharpen,80/format,jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* object-fit: cover; */
}

.info {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.state-value {
  font-weight: 700;
  color: rgb(118, 36, 194);
}

.request {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 0.3s ease;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
}
