<div class="container">
  <div style="display: flex">
    <h1 style="margin-left: auto; margin-right: 1rem">熱門合輯</h1>
    <a href="#" style="margin-right: auto">更多內容</a>
  </div>
</div>

<!-- card -->
<div class="container">
  <div class="row">
    <!-- 1 -->
    <div class="col-md-3">
      <div class="card">
        <img
          src="../../static/img/favicon.png"
          alt="123"
          style="max-width: 100%; height: auto"
        />
        <div class="card-body">
          <h3 class="card-title">歌曲</h3>
          <p class="card-text">11111111111111</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-md-3">
      <div class="card">
        <img
          src="../../static/img/favicon.png"
          alt="123"
          style="max-width: 100%; height: auto"
        />
        <div class="card-body">
          <h3 class="card-title">歌曲</h3>
          <p class="card-text">11111111111111</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-md-3">
      <div class="card">
        <img
          src="../../static/img/favicon.png"
          alt="123"
          style="max-width: 100%; height: auto"
        />
        <div class="card-body">
          <h3 class="card-title">歌曲</h3>
          <p class="card-text">11111111111111</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="col-md-3">
      <div class="card">
        <img
          src="../../static/img/favicon.png"
          alt="123"
          style="max-width: 100%; height: auto"
        />
        <div class="card-body">
          <h3 class="card-title">歌曲</h3>
          <p class="card-text">11111111111111</p>
        </div>
      </div>
    </div>
  </div>
</div>
