{% extends 'template.html' %} {% load static %}

<!-- load -->

{% load static %}

<!-- import_css -->

{% block import_css %}
<link rel="stylesheet" href="{% static 'css/plan.css' %}" />
<link rel="stylesheet" href="{% static 'css/card.css' %}" />
{% endblock import_css %}
<!-- body -->

{% block body %}
<div class="container d-flex justify-content-center">
  <h1>訂閱方案</h1>
  <div class="text-secondary-emphasis">
    <hr />
  </div>
  <!-- card -->
  <div class="row">
    <div class="col-md-4">
      <div class="card-container">
        <div class="myCard card-color-1">
          <div class="innerCard">
            <div class="frontSide">
              <h2 class="title">BASE</h2>
              <p class="content">隨時收到你最新的歌曲訊息</p>
            </div>
            <div class="backSide">
              <h2 class="title">BASE</h2>
              <p class="content">隨時收到你最新的歌曲訊息</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-container">
        <div class="myCard card-color-2">
          <div class="innerCard">
            <div class="frontSide">
              <h2 class="title">BASE</h2>
              <p class="content">享有最高的音質，沉浸式的享受</p>
            </div>
            <div class="backSide">
              <h2 class="title">PREMIUM</h2>
              <p class="content">享有最高的音質，沉浸式的享受</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-container">
        <div class="myCard card-color-3">
          <div class="innerCard">
            <div class="frontSide">
              <h2 class="title">BASE</h2>
              <p class="content">Front content</p>
            </div>
            <div class="backSide">
              <h2 class="title">PREMIUM</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

<!-- import_js -->
{% block import_js %}
<script src="{% static 'js/card.js' %}"></script>
{% endblock import_js %}
