{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="  {% static '/css/music_list/music_player_buttom.css' %} "
    />
  </head>
  <body>
    <div class="small-player fixed-bottom bg-light shadow">
      <div class="">
        <div class="row align-items-center">
          <div class="col-md-4 col-4 d-flex align-items-center">
            <img
              src=""
              style="width: 100px"
              alt="Album Cover"
              class="albumCover"
            />
          </div>

          <div class="col-md-6 col-6">
            <div class="overflow-text">
              <div class="songTitle">
                Song Title That Is Too Long to Display
              </div>
            </div>

            <!-- artistName -->
            <div class="artist">
              <a href="#">
                <span class="artistName">Artist Name</span>
              </a>
            </div>
          </div>
          <div class="col-md-2 col-2 d-flex">
            <!-- play -->
            <button type="button" class="btn btn-default playPauseButton">
              <i class="fa fa-pause"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="{% static 'js/music_list/music_player_buttom.js' %}"></script> -->
  </body>
</html>
