{% load static %}
<body>
  <div class="container-fluid text-center">
    <div class="col-md-6 offset-md-3 player shadow">
      <div class="row">
        <div class="col-md-12">
          <img
            src=""
            alt="Album Cover"
            style="width: 100%"
            class="albumCover"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- song detail -->
          <!-- song title -->
          <div class="overflow-text">
            <div class="songTitle marquee" id="songTitle">
              Song Title That Is Too Long to Display
            </div>
          </div>

          <!-- artistName -->
          <div class="artist" id="artistName">
            <a href="/music_list/">
              <img
                src=""
                alt="artist_img"
                width="30px"
                height="30px"
                class="artist-img"
              />
              <span class="hover-link">Artist Name</span>
            </a>
          </div>

          <!-- audio -->
          <audio id="myaudio" preload="auto" tabindex="0">
            <source id="audio-source" src="" />
          </audio>
          <!-- button -->
          <div
            class="btn-group btn-group-justified"
            role="group"
            aria-label="Basic example"
          >
            <!-- mutebutton -->
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default muteButton">
                <i class="fa fa-volume-up"></i>
              </button>
            </div>

            <!-- eq -->

            <div class="btn-group" role="group">
              <buttona
                type="button"
                class="btn btn-default"
                data-bs-target="#exampleModalToggle"
                data-bs-toggle="modal"
                class="eqButton"
              >
                <i class="fa-solid fa-sliders"></i>
              </buttona>
            </div>

            <div class="btn-group" role="group">
              <!-- 縮小 -->

              <button type="button" class="btn btn-default switchPlayer">
                <i class="fa fa-compress"></i>
              </button>
            </div>
          </div>
          <div class="btn-group d-flex justify-content-center" role="group">
            <button type="button" class="btn btn-default" id="loopButton">
              <span class="material-symbols-outlined"> repeat </span>
            </button>

            <!-- prev -->

            <button type="button" class="btn btn-default" id="previousButton">
              <i class="fa fa-backward"></i>
            </button>

            <!-- stop -->

            <button type="button" class="btn btn-default playPauseButton">
              <i class="fa fa-pause"></i>
            </button>

            <!-- next -->

            <button type="button" class="btn btn-default" id="nextButton">
              <i class="fa fa-forward"></i>
            </button>
            <button type="button" class="btn btn-default" id="shuffleButton">
              <i class="fas fa-redo-alt"></i>
            </button>
          </div>
          <div class="progress">
            <input
              type="range"
              min="0"
              max="100"
              valsue="0"
              class="progress-bar"
              id="progressBar"
            />
          </div>
          <div class="volume">
            <input
              type="range"
              min="0"
              max="100"
              value="70"
              class="slider"
              id="volumeSlider"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
