{% load static %}
<div class="">
  <!-- css -->
  <link
    href="https://fonts.googleapis.com/css?family=Bitter:400,700&d`isplay=swap&subset=latin-ext"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://meyerweb.com/eric/tools/css/reset/reset.css"
  />
  <div class="wrapper" id="app">
    <div class="player">
      <div class="player__top">
        <div class="player-cover">
          <div class="player-cover__item" data-key=""></div>
        </div>
        <div class="player-controls">
          <div class="player-controls__item -favorite">
            <!-- favorite -->
            <svg class="icon" id="favorite">
              <use href="{% static './svg/iocn.svg' %}#icon-heart-o"></use>
            </svg>
          </div>

          <!-- eq-->
          <div
            class="player-controls__item"
            id="eqButton"
            data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal"
          >
            <svg class="icon">
              <use href="{% static './svg/iocn.svg' %}#icon-eq"></use>
            </svg>
          </div>

          <!-- prev -->
          <div class="player-controls__item" id="prevTrack">
            <svg class="icon">
              <use href="{% static './svg/iocn.svg' %}#icon-prev"></use>
            </svg>
          </div>

          <!-- next -->
          <div class="player-controls__item" id="nextTrack">
            <svg class="icon">
              <use href="{% static './svg/iocn.svg' %}#icon-next"></use>
            </svg>
          </div>

          <!-- play -->
          <div class="player-controls__item -xl js-play" id="play">
            <svg class="icon">
              <use href="{% static './svg/iocn.svg' %}#icon-pause"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="album-info">
        <div class="album-info__name" id="artistName">324</div>
        <div class="album-info__track" id="songTitle"></div>
      </div>

      <!-- progess -->
      <div class="progress">
        <input
          type="range"
          min="0"
          max="100"
          valsue="0"
          class="progress-bar"
          id="progressBar"
        />
      </div>
    </div>
  </div>
</div>
