<br />
<h1>為你設計</h1>
<div class="text-secondary-emphasis">
  <hr />
</div>

<div class="row flex-nowrap overflow-auto">
  {% for i in '0123456789'|make_list %}

  <div class="card">
    <a href="#">
      <div class="row no-gutters">
        <div class="col-md-4 d-flex justify-content-end">
          <img
            src="https://th.bing.com/th/id/OIP.chuLCU6vX8rYwfa9X_CD3AHaHa?w=140&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">歌手</p>
          </div>
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
</div>
<br />
