<h1>為你推薦</h1>

<div class="row flex-nowrap overflow-auto">
  {% for i in '0123456789'|make_list %}
  <div class="">
    <div class="card">
      <div class="infos">
        <div class="image"></div>
        <div class="info">
          <div>
            <p class="name">John Doe</p>
            <p class="function">Front-end dev</p>
          </div>
          <div class="stats">
            <p class="flex flex-col">
              Articles
              <span class="state-value"> 34 </span>
            </p>
            <p class="flex">
              Followers
              <span class="state-value"> 455 </span>
            </p>
          </div>
        </div>
      </div>
      <button class="request" type="button">
        <i class="fa-solid fa-play"></i>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
