{% extends 'template.html' %}

<!-- load -->
{% load static %}

<!-- imprt_css -->
{% block import_css %}
<link rel="stylesheet" href="{% static './css/discover.css' %}" />
<link rel="stylesheet" href="{% static './css/music/card.css' %}" />
<link rel="stylesheet" href="{% static './css/music/card_artist.css' %}" />
<link rel="stylesheet" href="{% static './css/music/card_song.css' %}" />
{% endblock import_css %}

<!-- body -->
{% block body %}
<div class="container">
  <div>{% include './template/music/foryou.html' %}</div>
  <div>{% include './template/music/recently.html' %}</div>
  <div>{% include './template/music/recommend.html' %}</div>
</div>
{% endblock body %}
