{% extends 'template.html' %}
<!-- load -->
{% load static %}
<!-- import_css -->
{% block import_css %}
<link rel="stylesheet" href="{% static './css/music_list.css' %}" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
{% endblock import_css %}

<!-- body -->
{% block body %}
<!-- table -->

<!-- back img -->

<div class="bg-img">
  <div class="bg-color"></div>
</div>

<!-- body -->

<div class="">
  <div class="main-content">
    <!-- summary -->

    <div class="d-flex justify-content-center">
      <h1 class="display-4">{{artist}}</h1>
    </div>

    <!-- card -->

    <div class="d-flex justify-content-center">
      <div class="card-wrapper mb-3" style="max-width: 1000px">
        <div class="card mb-3 rounded-card">
          <img
            src="/media/{{artist}}/img/cover.jpg"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{artist}}</h5>
            <p class="card-text">{{summary}}</p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- alter -->
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>

    <!-- table -->
    <div class="">
      <table class="table table-hover">
        <tbody>
          {% for song in music_list_infos %}
          <tr>
            <td>
              <a href="#" class="play" value="{{forloop.counter0}}">
                <img
                  src="{{ '/media/'|add:song.artist|add:'/img/'|add:song.music_ID|add:'.jpg' }}"
                  alt="none"
                  width="70"
                  style="margin-right: 20px"
                />
                <span>{{ song.title }}</span>
              </a>
            </td>
            <td>
              <span
                class=""
                style="text-align: right"
                data-music_list="{{music_list}}"
              >
                <a href="#" value="{{ song.music_ID }}"
                  ><i class="far fa-heart"></i>
                </a>
              </span>
            </td>
            <td>
              <a href="#" class="add"><i class="bi bi-plus-lg"></i></a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">沒有任何歌曲 該去聽了!</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- 分頁 -->

    <div class="p-3 mb-3 border-0 bd-example d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- music -->

<div class="music_player">{% include 'music_player.html' %}</div>
{% endblock body %}

<!-- js -->

{% block js %}
<script>
  const artist = "{{artist}}";
  const index = "{{index}}";
  const music_list_infos = JSON.parse("{{ music_list_infos_json|escapejs }}");
</script>
{% endblock js %}

<!-- import_js -->

{% block import_js %}
<script type="module" src="{% static '/js/artisrt_music_list.js' %}"></script>
{% endblock import_js %}
