{% extends 'template.html' %}

<!-- laod -->
{% load static %}

<!-- import_css -->
{% block import_css %}
<link rel="stylesheet" href="{% static './css/myPlaylist.css' %}" />
{% endblock import_css %}

<!-- body -->
{% block body %}

<div class="container">
  <div class="my-playlist-base">
    <div class="my-playlist-title my-4">{{music_list}}</div>
    <div class="row">
      <button class="btn btn-primary btn-lg">
        <i class="bi bi-play-circle-fill"></i> 播放
      </button>
    </div>
  </div>

  <!-- music -->
  <div class="">{% include 'music_player.html' %}</div>
  <div class="main-content">
    <table class="table table-hover">
      <tbody>
        {% for song in music_list_infos %}
        <tr>
          <td>
            <a href="#" class="play" value="{{forloop.counter0}}">
              <img
                src="{{ '/media/'|add:song.artist|add:'/img/'|add:song.music_ID|add:'.jpg' }}"
                alt="none"
                width="70"
                style="margin-right: 20px"
              />
              <span>{{ song.title }}</span>
            </a>
          </td>
          <td>
            <span class="delete font" style="text-align: right">
              <a
                href="javascript:void(0)"
                value="{{song.music_ID}}"
                data-music-list="{{music_list}}"
                ><i class="far fa-trash-alt"></i
              ></a>
            </span>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">沒有任何歌曲 該去聽了!</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}

<!-- js -->
{% block js %}
<script>
  const music_list_infos = JSON.parse("{{ music_list_infos_json|escapejs }}");
</script>
{% endblock js %}

<!-- import_js -->
{% block import_js %}
<script type="module" src="{% static 'js/my_music_list.js' %}"></script>
{% endblock import_js %}
