<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <audio id="my-audio" src="test.mp3" controls>
        123
    </audio>

<script>
  // 註冊媒體按鈕事件
  navigator.mediaSession.setActionHandler('play', function() {
    document.getElementById('my-audio').play();
  });
  navigator.mediaSession.setActionHandler('pause', function() {
    document.getElementById('my-audio').pause();
  });
  navigator.mediaSession.setActionHandler('previoustrack', function() {
    // 切換到上一首歌曲
  });
  navigator.mediaSession.setActionHandler('nexttrack', function() {
    // 切換到下一首歌曲
  });

  // 設定歌曲的元數據
  navigator.mediaSession.metadata = new MediaMetadata({
    title: '歌曲名稱',
    artist: '演出者',
    album: '專輯名稱',
    artwork: [
      { src: 'https://i.ytimg.com/vi/7HgJIAUtICU/sddefault.jpg', sizes: '500x500', type: 'image/jpeg' }
    ]
  });
</script>

  </body>
  </body>
</html>
